/* Example 2 */

/* .hello{
    font-weight: bold;
    color: gold;
    font-size: large;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: goldenrod;
    padding: 30px;
}
 */


/* Example 3 */

/* .zoom{
    width: 700px;
} */


/* Example 4 */

body{
    background-color: black;
    text-align: center;
    padding-top: 50px;
}

/* Example 6 */

/* .para{
    background-color: green;
    color: gold;
    padding: 5px;
} */
